pipeline/pipeline7.json
{
	"name": "pipeline7",
	"properties": {
		"activities": [
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Variable",
					"value": {
						"value": "@substring(pipeline().parameters.InputString,\nint(pipeline().parameters.StartingPosition) ,\nsub(length(pipeline().parameters.InputString),int(pipeline().parameters.StartingPosition) )\n )",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable2",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "V2",
					"value": {
						"value": "@concat('Hello',variables('Variable'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable3",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set variable2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Variable",
					"value": {
						"value": "@variables('V2')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"InputString": {
				"type": "string"
			},
			"StartingPosition": {
				"type": "string"
			}
		},
		"variables": {
			"Variable": {
				"type": "String"
			},
			"V2": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-08-11T05:46:56Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}